.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #0D241B;
    justify-content: center;
    align-items: center;
}

.container {
    height: 690px;
    min-width: 90vw;
    display: flex;
    background-color: #0B1F17;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.daily {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    margin-top: -10px;
}

.daily-statistics {
    max-width: 450px;
    height: 409px;
    position: relative;
    right: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.daily-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}

  .daily-title > span:before {
    content: '';
    position: absolute;
    width: 53px;
    border-top: 2px solid #4e4e4e;
    margin-top: .6em;
    left: 40px;
  }
  .daily-title > span:before {
    margin-left: -4%;
  }

.daily-statistics--container {
    width: 403px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.114901960784313725);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.daily-info p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
}

.daily-info {
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

.daily-info--left {
    opacity: 1;
    color: #fff;
}

.daily-info--right {
    opacity: 1;
    color: #fff;
}

.stats {
    width: 94%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.114901960784313725);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.stats-content--container {
    width: 90%;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-content {
    text-align: center;
}

.stats-content--top {
    font-size: 36px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    top: 10px;
}

.stats-content--bottom {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    top: 30px;
}

.stats-log {
    width: 92%;
    height: 20px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.stats-log--container {
    width: 95%;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.online {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 75px;
}

.online-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.online-container--day {
    width: 400px;
    height: 120px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.114901960784313725);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.border-bottom {
    width: 100%;
    height: 10px;
    background-color: #4CB654;
    border-radius: 10px;
    margin-bottom: -10px;
    position: relative;
    top: 34px;
    text-shadow: 0 0 20px #4CB654;
}

.online-container--day h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}

.online-container--week {
    width: 400px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.114901960784313725);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 115px;
}

.online-container--week h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}

.online-container--day p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    position: relative;
    bottom: -60px;
}

.online-container--week p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    position: relative;
    bottom: -60px;
}